/*
 *   FOOTER STYLES
 */
footer
   background-color: $grey
   box-sizing: border-box
   color: $light
   padding: 50px 15% 50px 15%
   width: 100%

   p
      font-family: $font
      font-size: em( 15/$font-size )
      line-height: lh( 15 )
      margin: 0

   h1
   a
      color: $light

   h1
      padding-left: 50px
      position: relative
      .icon-dots
         fill: $light
         height: 10px
         left: 0;
         position: absolute
         top: 14px
         width: 36px
      // &:before
      //    content: ""
      //    display: inline-block
      //    background-image: url($url-img beforeTitleW.png)
      //    background-repeat: no-repeat
      //    background-size: contain
      //    height: 10px
      //    margin-right: 15px
      //    vertical-align: middle
      //    width: 36px
