/*
 *   HEADER STYLES
 */
header[role="banner"]
   $padding-header= 80px
   box-sizing: border-box
   position: relative
   margin: 0 auto
   padding-top: $padding-header
   padding-bottom: $padding-header
   width: 300px

   [class*="icon-bracket"]
      fill: $grey
      height: 100px
      position: absolute
      top: $padding-header
      width: 24px
   .icon-bracket-open
      left: 0
   .icon-bracket-close
      right: 0

   > h1
   > p
      font-family: $font-family
      font-weight: lighter
      margin: 0
      text-align: center

   > h1
      color: $red
      font-size: 3em
      letter-spacing: 1px
      padding-top:28px
      text-transform: uppercase

   > p
      color: $grey
      font-size: 1em
      margin-top:16px

      span
         text-transform: uppercase
