div
   transition-timing-function: $ease-in-quad
   transition-timing-function: $ease-in-cubic
   transition-timing-function: $ease-in-quart
   transition-timing-function: $ease-in-quint
   transition-timing-function: $ease-in-sine
   transition-timing-function: $ease-in-expo
   transition-timing-function: $ease-in-circ
   transition-timing-function: $ease-in-back

   // EASE OUT
   transition-timing-function: $ease-out-quad
   transition-timing-function: $ease-out-cubic
   transition-timing-function: $ease-out-quart
   transition-timing-function: $ease-out-quint
   transition-timing-function: $ease-out-sine
   transition-timing-function: $ease-out-expo
   transition-timing-function: $ease-out-circ
   transition-timing-function: $ease-out-back

   // EASE IN OUT
   transition-timing-function: $ease-in-out-quad
   transition-timing-function: $ease-in-out-cubic
   transition-timing-function: $ease-in-out-quart
   transition-timing-function: $ease-in-out-quint
   transition-timing-function: $ease-in-out-sine
   transition-timing-function: $ease-in-out-expo
   transition-timing-function: $ease-in-out-circ
   transition-timing-function: $ease-in-out-back
