/*
 *   HOME-w1024+
 */
.home
   .doc
      float: right
      padding : 0 5% 50px
      width: 75%

   .intro
      padding: 60px 40px
      p
         font-size: em(36/$font-size)

   .buttons
      padding: 60px 0 0
      text-align: center
      a
         margin: 0 1%
