/*
 *   NAV-w1024+
 */
.home
   .content
      button
         display: none
   nav
      float: left
      left: 0
      padding: 0
      position: relative
      width: 25%

      .logo
         margin: 40px 0
         img
            width: 230px

      ul
         padding-right: 30px
         li
             font-size: em(18/ $font-size)
         ul
            padding-left: 0px
            margin-left: 0

            li
               font-size: em(11/ $font-size)

            ul
               padding-left: 20px
               li
                  font-size: em(10/ $font-size)
