/*
 *   BUTTONS STYLES
 */

.button
   background-color: $red
   border: 3px solid $light
   color: $light
   cursor: pointer
   letter-spacing: 2px
   padding:15px 25px
   font-size:em(14/$font-size)
   display: inline-block

   &:hover
      background-color: rgba(245, 238, 222, 0.2)
      border: 3px solid $light

