/*
 *   GLOBAL STYLES
 */


// Variables + Mixins
@import '_tools/variables'
@import '_tools/mixins'


// Reset
@import '_normalize'


// Fonts
@import '_fonts'
// @import '_icons'
@import '_text'


// Buttons
@import '_buttons'


// Header / footer
@import '_layout/page'
@import '_layout/header'
@import '_layout/footer'


// Templates
@import '_templates/*'


// Modules
@import '_modules/*'


// Mediaqueries
@media only screen and (min-width: rem( 480 ))
   @import '_mediaqueries/w480+/*'

@media only screen and (min-width: rem( 1024 ))
   @import '_mediaqueries/w1024+/*'

@media only screen and (min-width: rem( 1440 ))
   @import '_mediaqueries/w1440+/*'
