/*
 *   TEXT STYLES
 */

html
   background: $bg

body
   -webkit-font-smoothing: antialiased
   background: $bg
   color: $dark
   font-size: $font-root
   line-height: $line-height
   min-width: 0

a
   color: $grey

h1
   color: $grey
   font-family: $font-sans-serif
   font-size: em(30/$font-size)
   font-weight: normal


h2
   color: $dark
   // display: inline-block
   font-family: $font-sans-serif
   font-size: em(26/$font-size)
   font-weight: normal
   margin: 0 auto

h3
   color: $red
   font-size: em( 22/$font-size)
   font-weight: normal


li
   color: $grey
   font-family: $font
   font-size: em( 16/$font-size )
   line-height: lh( 16 )
   list-style: circle


/* code quote*/

p
li
   code
      border: 1px solid $grey
      font-size: rem( 14 )
      padding: 2px
      margin-right: 2px
      white-space: nowrap

.doc
   p
      color: $grey
      font-family: $font
      font-size: em( 16/$font-size )
      line-height: lh( 16 )

   .ex-intro
      color: $grey
      font-family: $font-sans-serif
      font-size: em( 18/$font-size )
      font-weight: normal

footer
   p
      font-family: $font
      font-size: em( 15/$font-size )
      line-height: lh( 15 )
      margin: 0

   h1
   a
      color: $light

   h1
      &:before
         content: ""
         display: inline-block
         background-image: url($url-img beforeTitleW.png)
         background-repeat: no-repeat
         background-size: contain
         height: 10px
         margin-right: 15px
         vertical-align: middle
         width: 36px
